.formDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 5em auto auto auto;
  padding: 10px;
  justify-content: center;
  background-color: #131c21b6;
  border-radius: 10px;
}

.formDiv form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 70%;
}

.FormDivMain {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.FormDivMain label {
  text-transform: capitalize;
}

.FormDivElement,
.FormDivElementButton {
  width: 100%;
  display: flex;
  height: 40px;
  align-items: center;
  gap: 10px;
  background-color: var(--navBlue);
  border-radius: 5px;
  padding: 5px;
}

.FormDivElementButton {
  padding: 0;
}

.FormDivElement input {
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: rgb(177, 177, 177);
  padding: 10px;
  max-height: 100%;
}

.FormDivElementButton input {
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: rgb(177, 177, 177);
  padding: 10px;
}

.FormDivElement input:hover,
input:active {
  background-color: rgb(120, 120, 120);
}

.FormDivElement input[type="submit"]:hover,
.FormDivElementButton input[type="submit"]:hover {
  cursor: pointer;
  color: white;
  background-color: var(--navBlue);
}

.FormDivElement img {
  width: 40px;
  height: 40px;
}

.custom-dropdown {
  background-color: rgb(177, 177, 177);
  /* background-color: var(--navBlue); Fekete háttér */
  color: var(--navBlue); /* Fehér szöveg a jobb olvashatóság érdekében */
  padding: 10px; /* 10px padding */
  border-radius: 10px;
  width: 100%;
}

.p-dropdown-panel {
  border-radius: 10px;
  background-color: #004a71;
  overflow: hidden;
}

.p-dropdown-item {
  padding: 10px;
  background-color: #2d4450;
  /* border-radius: 10px; */
}

.p-dropdown-item:focus {
  background-color: var(--navBlue);
  color: white;
  border: none;
  outline: none;
}

/* Customize Toast message */
/* Általános toast üzenet */
.p-toast-message {
  border-radius: 5px;
  padding: 30px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: #333; /* Szöveg színe */
}

/* Success toast */
.p-toast-message-success {
  background-color: #d4edda; /* Világos zöld háttér */
  color: #155724; /* Sötét zöld szöveg */
  border-left: 10px solid #155724; /* Zöld bal oldali border */
}

/* Error toast */
.p-toast-message-error {
  background-color: #edd4d4; /* Világos piros háttér */
  color: #571515; /* Sötét piros szöveg */
  border-left: 10px solid #ff0000; /* Piros bal oldali border */
  /* Egyéb stílusok */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Árnyék */
}
