.orarendMainDiv {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  height: 90%;
  justify-content: space-around;
}
.orarendCardsDiv {
  height: 80%;
  width: 80%;
  margin: 5px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: 50%;
  gap: 30px;
  margin-bottom: 16px;
}

.blackbgc {
  position: relative;
  /* border-radius: 8px; */
  padding: 16px;

  /* background-color: var(--navBlue); */
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 8px 0;
  max-height: 100%;
  color: var(--navBlue);
  border-top: 5px solid rgb(76, 51, 18);
}
.card {
  /* background-color: var(--navBlue); */
  background-color: white;
  color: white;
  width: 100%;
}

.card h2,
.card p {
  color: rgb(0, 0, 0) !important;
  border-bottom: 1px solid black;
}

.card h2,
.card p {
  background-color: white !important;
}

.blackbgc::before {
  content: "";
  position: absolute;
  top: -10px; /* A szög magassága */
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ff0000; /* A szög színe */
}

.blackbgc::after {
  content: "";
  position: absolute;
  top: 100%;
  height: 20px;
  width: 100%;
  left: 0;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/23618/rip.svg)
    bottom;
  background-size: 200%;
  /* filter: invert(94%) sepia(100%) saturate(500%) hue-rotate(180deg); */
  filter: brightness(0) saturate(100%) invert(6%) sepia(-51%) saturate(744%)
    hue-rotate(180deg) brightness(0%);
}

.naptarButtonDiv {
  text-align: center;
  margin-top: 16px;
}

.naptarButtonDiv button {
  padding: 5px;
  color: white;
  border-radius: 5px;
  border: none;
  background-color: var(--navButtonInactive);
}

.naptarButtonDiv button:hover {
  background-color: var(--navButtonActive);
  cursor: pointer;
}

.naptarButtonDiv button:disabled {
  color: gray;
}

.oraModDiv {
  position: absolute;
  top: 1px;
  right: 1px;
}

.oraModDiv button {
  border: none;
  padding: 5px;
  background-color: var(--navButtonInactive);
  width: 100%;
  color: white;
  border-radius: 5px;
}

.oraModDiv button:hover {
  cursor: pointer;
  background-color: var(--navButtonActive);
}
