.infoDiv {
  width: 90%;
  margin: 4rem auto auto auto;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.infoDiv h2,
.infoDivNo h2 {
  text-align: center;
  text-transform: capitalize;
  background-color: var(--navBlue);
  color: white;
  padding: 10px;
  width: 100%;
  margin: 0;
}

/* ha nincs bejelentkezve */

.infoDivNo {
  width: 90%;
  margin: 4rem auto auto auto;
  color: black;
  padding: 10px;
  height: auto;
}

.infoTablaDiv {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  border: 2px solid black;
  /* height: 50vh; */
  height: auto;
  background: #2d44505a;
}

.infoTablaDiv .infoTablaDivInner {
  display: flex;
}

.infoTablaDiv h2 {
  background-color: var(--navBlue);
  color: white;
  padding: 10px;
}

.infoTablaImgDiv {
  margin: 20px;
  /* width: 90%; */
  border: 10px solid var(--navBlue);
}

.infoTablaDiv .infoTablaTableDiv {
  width: 100%;
  position: relative;
}

.infoTablaTableDiv table {
  width: 80%;
  margin: 20px auto;
  border-collapse: separate;
  border-spacing: 10px;
}

.infoTablaTableDiv table tr {
  height: 30px;
}

.infoTablaTableDiv table tr td {
  background: #2d4450b0;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.infoTablaTableDiv table tr td:first-child {
  background-color: var(--navBlue);
  color: white;
  /* width: 50%; */
}

.infoTablaTableDiv button,
.infoTablaTableDiv a {
  background-color: var(--navButtonInactive);
  color: white;
  padding: 0.7rem;
  /* border-radius: 10px; */
  border: none;
}

.infoTablaTableDiv a {
  text-decoration: none;
  position: absolute;
  right: 2px;
  bottom: 2px;
}

.infoTablaTableDiv button:hover,
.infoTablaTableDiv a:hover {
  background-color: var(--navButtonActive);
  color: white;
  padding: 0.7rem;
  /* border-radius: 10px; */
  border: none;
  cursor: pointer;
}
